@tailwind base;
@tailwind components;
@tailwind utilities;


.custom-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #9333ea !important;
    font-weight: bold;
  }
  
  .custom-tabs .ant-tabs-tab:hover .ant-tabs-tab-btn {
    color: #7c3aed !important;
  }
  
  .custom-tabs .ant-tabs-nav::before {
    border: none !important; 
  }
  